<h1>COMICS details</h1>
<section>
	<div ng-repeat='comic in comics' class="col-sm-12">			
		<div class="panel panel-primary">
            <div class="panel-heading">
             <h3 class="panel-title">{{comic.title}}</h3>
            </div>
            <div class="panel-body">
            	<div class="col-sm-6">
            		 <img src="{{comic.thumbnail.path+'.'+comic.thumbnail.extension}}" class="img-responsive" alt="">            		
            	</div>
            	<div class="col-sm-6">             		
            		<p>{{comic.description}}</p> 
            		<urls info="comic.urls"></urls>    

            		<creators info="comic.creators"></creators>       
            	</div>             
            </div>
          </div>
          
	</div>
</section>